.DS_Store

secrets.sh

zsh/.zc*
zsh/.zsh_history

iTerm2/*
zsh/.zsh_sessions
karabiner/*
MionixHub/
jgit/
configstore
acli/
gcloud/
gh/
github-copilot/
helm/
argocd/
crossnote/
dlv/
fish/
nvm/
zed/
zsh-backup-20260205/
.tmux.conf

